article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:01C 01D 018 019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {box-sizing: inherit;}

th {
    margin: auto 50px;
}

html {
    font-size:  90%;
}

body {
    background-color: white;
    color:  #322e4b;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 2% auto;
}

main {
    color: #2A263E;
    font-size: 18px;
}

.global-market {
    width: 65%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

article {
    background-color: #322e49;
    font-size: 13px;
    width: 30%;
    height: 100px;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

article p {
    color: white;
    font-size: 15px;
    padding-left: 5%;
}


p { 
    margin: 0;
}

table {
    margin: 2% 2% 0 0;
    width: 100%;
    text-align: left;
}

h3 {
    padding-left: 5%;
    font-size: 20px;
    margin: 0;
    color: #FDC242;
}

.total-market-cap { 
    color: #FDC242;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

th {
    margin: 0 20px;
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid #FDC242;
    border-bottom: 1px solid #FDC242;
    text-align: right;
    padding-right: 10px;
    font-weight: 500;
}

tr:hover:not(:first-child) { 
    background-color:rgb(247, 247, 247);
}

.crypto-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

table td {
    vertical-align: center;
    padding-right: 10px;
    text-align: right;
}

tr {
    font-size: 15px;
    border-bottom: 1px solid rgb(253, 194, 66);
    font-weight: 400;
}

span {
    font-size: 15px;
}

.btc {
    color: rgb(82, 82, 82); 
}

.chart-container {
    position: relative;
    height: 8vh; 
    width: 8vw;
    left: 20px;
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-section1,
.news-section2,
.news-section3 {
    background-color: #FDC242;
    border-radius: 10px;
    width: 30%;
    height: auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 5%;
}


.news-section1 img,
.news-section2 img,
.news-section3 img {
    width: 50px; 
    height: auto;
    background:#FDC242;
}

.news-content1,
.news-content2,
.news-content3 {
    padding: 0 20px 5px 20px;
    color: #2A263E;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

a {
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
    padding: 0 20px;
    color: white;
    font-weight: 400;
}

.clickable-section1,
.clickable-section2,
.clickable-section3 {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

h4 {
    color: rgb(255, 255, 255);
    padding: 0 20px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.crypto-symbol1 {
    color: #9c9c9c;
    margin-left: 2%;
    font-size: 14px;
    text-transform: uppercase;
}

.crypto-symbol2 {
    color: #2A263E;
    text-transform: uppercase;
}

.align-left {
    text-align: left;
    padding-left: 10px;
}

.yellow {
    color: #FDC242;
}

footer a {
    color:rgb(253, 194, 66);
    text-decoration: none;
    font-style: normal;
    padding: 0;
}

.crypto-name {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.green { 
    color: green;
}

.red { 
    color: red;
}

.change { 
    font-size: 20px;
}

.chart { 
    padding-right: 0;
}

.icon-vertical { 
    transform: rotate(90deg);
}

.pop-up {
    position: absolute; 
    z-index: 2;
    padding: 10px;
    background:white;
    box-shadow: 1px 4px 8px rgba(24, 24, 24, 0.3);
    border-radius: 5px;
    right: 180px;
}

.watch-list {
    position: absolute; 
    z-index: 2;
    padding: 10px;
    background:black;
    box-shadow: 1px 4px 8px rgba(24, 24, 24, 0.3);
    border-radius: 5px;
    left: 130px;
    color: white;
}

.yellow { 
    color: #FDC242;
}

.grey { 
    color: rgb(214, 214, 214);
}
.star:hover {
    color: #FDC242;
}

@media only screen and (max-width: 1050px) {
    .news-section1 {
        width: 100%;
        margin-right: 0;
    }

    .news-section2,
    .news-section3 {
        display: none;
    }
    .news-section2 img,
    .news-section3 img {
        display: none;
    }

    h1,
    h2 {
        font-size: 1.3rem;
    }

    .global-market {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    article {
        width: 100%;
        height: 70px;
        justify-content: space-between;
        margin-bottom: 20px;
    } 
    
    article p {
        font-size: 13px;
    }

    h3 {
        font-size: 15px;
    }
    
    th,
    td {
        font-size: 13px;
    }
    
    .market-cap, 
    .supply,
    .chart-container {
        display: none;
    }

    .crypto-symbol1 {
        display: none;
    }
}
